<div class="container-full">
    <div class="row">
        <div class="col-lg-12 text-center v-center">
            <h1>Hello World.</h1>
            <p class="lead">I am Neil Michalares - a full stack .net and javascript developer, Agile proponent, and data visualization guru.</p>
            <br/><br/>
            <br>
        </div>
    </div> <!-- /row -->
    <div class="row">
        <div class="col-lg-12 text-center v-center" style="font-size:39pt;">
            <div class="icon-pad">
                <div class="btn btn-social-icon btn-github"><a href="https://github.com/nmichalares" class="anchor-no-pad"><i class="fa fa-github"></i></a></div>
                <div class="btn btn-social-icon btn-linkedin"><a href="https://www.linkedin.com/pub/neil-michalares/4/550/5b3" class="anchor-no-pad"><i class="fa fa-linkedin"></i></a></div>
            </div>
        </div>
    </div>
    <br><br><br><br><br>
</div> <!-- /container full -->
<div class="container">
    <hr>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>About Me</h3></div>
                <div class="panel-body">
                    I live in Fairfield, Ohio.<br/><br/>
                    I am currently working at Kroger Technology.<br/><br/>
                    I enjoy working on cutting edge technologies, building web applications, and building meaningful visual representations of large data sets.  I currently work at <a href="http://www.paycor.com">Paycor</a> in Cincinnati as an Engineer, Scrum Master and Agile Pathfinder.  Paycor builds SaaS web applications focused on Payroll and Human Capital Management.<br /><br />
                    I spend my time off the computer mostly outside - hiking, biking or canoeing.  When you can find me inside I'm probably cooking, playing a strategy board game, or playing drums in my small home studio.<br/><br/>
                    I am a life-long learner, process improvement advocate, and I work to be a better code craftsman daily.
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Full Stack</h3></div>
                <div class="panel-body">
                    <a href="http://www.laurencegellert.com/2012/08/what-is-a-full-stack-developer/">Laurence Gellert</a> has a pretty detailed explanation that I think encompasses what full stack means.<br/><br/>
                    To bring this around to my own experience, I would re-phrase his hit list like this:
                    <ul>
                        <li>Server architecture & hosting software</li>
                        <li>Database queries and optimization</li>
                        <li>Data modeling and whether to use direct access vs. relational objects</li>
                        <li>Correct layering of business logic vs. data access and UI functionality</li>
                        <li>Unit testing the functional code as a part of everyday life</li>
                        <li>Correct presentation layer structure for AJAX enabled applications</li>
                        <li>Javascript & jQuery best practices</li>
                        <li>A good user experience</li>
                        <li>The ability to gather needs and details from stakeholders to get good requirements for user stories</li>
                    </ul>
                    On top of everything else, I strive to maintain up-to-date best practices, standards, and clean code through every level of the stack.
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Agile</h3></div>
                <div class="panel-body">
                    I have had the benefit of being at <a href="http://www.evancedsolutions.com">Evanced Solutions</a> since they began to transition from a Waterfall model of the product development lifecycle to Agile.  Having seen the before and after, I feel this gives me a unique view of what Agile's advantages are, and what pitfalls can arise.<br/><br/>
                    At Paycor, I have been active in the agile community, participating in their "pathfinder" program, where we help other teams through example and coaching.
                </div>
            </div>
        </div>
    </div>
    <div class="row">
    </div>
</div>
@Scripts.Render("~/bundles/index")

